In [8]:
import pandas as pd
import numpy as np
# Read the Excel file into a DataFrame
df = pd.read_excel('test2.xlsx')

# Display the DataFrame
df.head()
pf = df[['Employee Name','UAN Number','PF Number','Basic','DA','Employee PF','Actual Monthly Gross']]

pf['Employee PF'] = pf['Employee PF'].replace(['', 'null', 'NULL'], np.nan)
# Drop rows where Employee PF is 0 or null
pf = pf[~((pf['Employee PF'].isna()) | (pf['Employee PF'] == 0))]

pf

C:\Users\grd00\AppData\Local\Temp\ipykernel_24620\3654628903.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pf['Employee PF'] = pf['Employee PF'].replace(['', 'null', 'NULL'], np.nan)

,Employee Name,UAN Number,PF Number,Basic,DA,Employee PF,Actual Monthly Gross
0,Ajay Chaudhari,1.011564e+11,12340.0,6900,3800,1284,29230
1,Amol Patil,1.015895e+11,12732.0,7150,3800,1314,39057
2,Ananda Jadhav,1.001696e+11,13657.0,6573,3673,1230,27658
3,Ankush Baraf,1.014912e+11,13400.0,6850,3800,1278,16663
4,Ashish Godse,1.021268e+11,13678.0,6800,3800,1272,30828
5,Balu Harake,1.015253e+11,13413.0,6165,3420,1150,21761
7,Devanand Jadhav,1.011524e+11,12353.0,7200,3800,1320,21662
10,Ganesh Bhandalkar,1.018737e+11,13212.0,7050,3800,1302,35580
11,Ganesh Gorhekar,NaN,NaN,6200,3800,1200,15120
12,Ganesh Sarode,1.013677e+11,13677.0,6900,3800,1284,48616
14,Girish Jadhav,1.001536e+11,13656.0,6700,3800,1260,25740
15,Hemant Gavit,NaN,NaN,6200,3800,1200,16500
16,Jayesh Patil,NaN,NaN,6200,3800,1200,16050
18,Kiran Dukale,1.013447e+11,13407.0,6850,3800,1278,18060
19,Laxman Padwale,1.020387e+11,13545.0,6800,3800,1272,43407
20,Madhavi Desai,1.012088e+11,13659.0,6800,3800,1272,25127
21,MADHUSUDAN SHARMA,1.014349e+11,12614.0,7000,3800,1296,28621
22,Manish Verma,NaN,NaN,6555,3610,1220,48925
24,Mayuri Rao,NaN,NaN,5670,3420,1091,16371
26,Mukund Pande,NaN,NaN,6600,3800,1248,23598
27,Nilesh Thakare,1.019653e+11,13446.0,6850,3800,1278,17804
28,Pranali Patil,1.020895e+11,13640.0,6650,3800,1254,16427
29,Ravi Lahange,1.007785e+11,2039.0,7250,3800,1326,22329
30,Roshan Dhanava,NaN,NaN,6200,3800,1200,16400
33,Samir Bhoir,1.020468e+11,13548.0,6800,3800,1272,28740
34,Samir Patil,1.012912e+11,13501.0,6800,3800,1272,21030
35,Sandip Pawar,1.019512e+11,13398.0,6850,3800,1278,13213
38,Simantini Khilare,1.018214e+11,13112.0,6933,3737,1280,30977
39,Suraj Farale,1.019512e+11,13403.0,3653,2027,682,8135
40,Tanaji Masal,1.011564e+11,12341.0,7200,3800,1320,38558
41,Vaibhav Chavan,1.019512e+11,13415.0,6622,3673,1235,19712
42,Vinay Junghare,1.021003e+11,13654.0,6800,3800,1272,28488
43,Vipul Patil,1.014349e+11,12616.0,7100,3800,1308,22517
44,Vishnu Mhase,1.007781e+11,2037.0,7400,3800,1344,29912

In [9]:
pf['UAN Number'] = pf['UAN Number'].astype('Int64').astype(str)
pf2 = pf.reset_index(drop=True)
pf2['Total'] = pf2['Basic'] + pf2['DA']
pf2['PF 12%'] = pf2['Total']*0.12
pf2['Pen'] = pf2['Total']*.0833
pf2['Bal'] = pf2['PF 12%']-pf2['Pen']
cols_to_convert = ['PF 12%', 'Pen', 'Bal']
pf2[cols_to_convert] = pf2[cols_to_convert].astype(int)
pf3 = pf2[['Employee Name','UAN Number','PF Number','Basic','DA','Total','PF 12%','Bal','Pen','Actual Monthly Gross']]
pf3.insert(0, 'Sr. No.', range(1, len(pf3) + 1))
insert_pos = len(pf3.columns) - 1
pf3.insert(insert_pos, 'Project', '')
pf3
pf3.to_excel('Prayag_2025-26.xlsx', index=False)